@charset "UTF-8";
@font-face {
  font-family: "La Beauties";
  src: url("./fonts/La Beauties.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Saudagar";
  src: url("./fonts/Saudagar.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Florania Trial";
  src: url("./fonts/Florania Trial.otf");
  font-style: normal;
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url("../imgs/fondo-proyectos.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  body, html {
    background-image: url("../imgs/fondo-proyectos-telefono.png");
  }
}

.contenedor-proyectos {
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: "pr-ti pr-ti pr-ti" "video video video" "modelo modelo modelo" "musica musica musica" "subt subt subt" "p2 . p5" "p4 . p3" "otros otros otros" "imgs-otros imgs-otros imgs-otros" "ind . con";
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .contenedor-proyectos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "pr-ti" "video" "modelo" "musica" "subt" "p2" "p5" "p4" "p3" "otros" "imgs-otros" "ind" "con";
  }
}

.proyectos-titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  font-family: "La Beauties";
  color: #fcfcfc;
  font-size: 9rem;
  font-weight: 130;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 3rem;
  grid-area: pr-ti;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyectos-titulo {
    font-size: 7rem;
  }
}

/* ----------------------- IMAGENES ----------------------- */
.imagen-proyectos {
  border-radius: 1rem;
}

#modelo1 {
  width: 22rem;
  margin-right: 1rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #modelo1 {
    margin: 0rem;
    width: 19rem;
  }
}

#modelo2 {
  width: 21.9rem;
  margin-left: 1rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #modelo2 {
    margin: 0rem;
    width: 19rem;
  }
}

#musica1 {
  width: 30rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 500px) {
  #musica1 {
    margin-right: 0rem;
    margin-bottom: 2rem;
    width: 18rem;
  }
}

#musica2 {
  width: 30rem;
}
@media only screen and (max-width: 500px) {
  #musica2 {
    margin: 0rem;
    width: 18rem;
  }
}

#manijes {
  width: 37rem;
  margin-left: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #manijes {
    margin: 0rem;
    width: 18rem;
  }
}

#manijes-texto {
  margin-left: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #manijes-texto {
    margin: 1rem;
  }
}

#orco {
  width: 25rem;
  margin-right: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #orco {
    margin: 0rem;
    width: 18rem;
  }
}

#orco-texto {
  margin-right: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #orco-texto {
    margin: 1rem;
  }
}

#mago {
  width: 28rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #mago {
    margin: 0rem;
    width: 17rem;
  }
}

#señora {
  width: 22rem;
  margin-right: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #señora {
    margin: 0rem;
    width: 18rem;
  }
}

#texto-señora {
  margin-right: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #texto-señora {
    margin: 1rem;
  }
}

#otros-foto1 {
  width: 20.5rem;
  margin-right: 1rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #otros-foto1 {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 18.5rem;
  }
}

#otros-foto2 {
  width: 23.4rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #otros-foto2 {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 18.5rem;
  }
}

#otros-foto3 {
  width: 19rem;
  margin-left: 1rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #otros-foto3 {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 18.5rem;
  }
}

.contenedor-imagenes-otros {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  text-align: center;
  margin-bottom: 7rem;
  grid-area: imgs-otros;
}

/* ----------------------- PROYECTOS PRINCIPALES ----------------------- */
iframe {
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  iframe {
    height: 15rem;
    width: 22rem;
    resize: both;
    overflow: auto;
  }
}

#video-proyectos {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.texto-video {
  font-family: "Saudagar";
  color: #fcfcfc;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
}

.proyecto-video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: video;
  margin-bottom: 9rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto-video {
    margin-bottom: 4rem;
  }
}

.proyecto-modelo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: modelo;
  text-align: center;
  margin-bottom: 15rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto-modelo {
    margin-bottom: 10rem;
  }
}

.proyecto-musica {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: musica;
  text-align: center;
  margin-bottom: 15rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto-musica {
    margin-bottom: 10rem;
  }
}

.subtitulo-actriz {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: subt;
  text-align: center;
  font-style: italic;
  opacity: 95%;
  margin-bottom: 5rem;
  font-family: "Florania Trial";
  font-weight: 1;
  color: #fcfcfc;
  font-size: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .subtitulo-actriz {
    margin: 1rem;
  }
}

.proyecto2 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: p2;
  text-align: center;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto2 {
    margin-bottom: 5rem;
  }
}

.proyecto3 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: p3;
  text-align: center;
  margin-bottom: 7rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto3 {
    margin-bottom: 5rem;
  }
}

.proyecto4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: p4;
  text-align: center;
  margin-bottom: 7rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto4 {
    margin-bottom: 5rem;
  }
}

.proyecto5 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: p5;
  text-align: center;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .proyecto5 {
    margin-bottom: 5rem;
  }
}

.texto-proyectos {
  font-family: "Saudagar";
  color: #fcfcfc;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: bold;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .texto-proyectos {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* ----------------------- PROYECTOS OTROS ----------------------- */
.titulo-otros-proyectos {
  font-family: "Florania Trial";
  color: #fcfcfc;
  font-style: italic;
  font-family: "Florania Trial";
  font-weight: 1;
  font-size: 3rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .titulo-otros-proyectos {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.texto-otros-proyectos {
  font-family: "Saudagar";
  color: #fcfcfc;
  letter-spacing: 0.1rem;
  font-weight: bold;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .texto-otros-proyectos {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.otros-proyectos {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: otros;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

/* ----------------------- FOOTER ----------------------- */
.link-proyectos {
  font-family: "Saudagar";
  color: #fcfcfc;
  font-size: 2rem;
  text-decoration: none;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  .link-proyectos {
    text-align: center;
  }
}

.link-proyectos:hover {
  text-decoration: underline;
}

#contacto-proyectos {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
  grid-area: con;
  margin-left: 15rem;
  /* TELEFONO */
}
@media only screen and (max-width: 500px) {
  #contacto-proyectos {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
}

#index-proyectos {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: ind;
  margin-left: 10rem;
}

@media only screen and (max-width: 500px){
  .proyectos-titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .contenedor-imagenes-otros {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .proyecto-video {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .proyecto-modelo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .proyecto-musica {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .subtitulo-actriz {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .proyecto2 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .proyecto3 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .proyecto4 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .proyecto5 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .otros-proyectos {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  #contacto-proyectos {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  #index-proyectos {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
  }
}
@media only screen and (max-width: 500px) {
  #index-proyectos {
    margin-left: 0rem;
  }
}