.titulo-contacto {
    grid-area: ti-co;
    font-family: $font-titular;
    font-size: 8rem;
    color: $blanco;
    font-weight: 130;
    padding: 0rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
        text-align: center;
               /* TELEFONO */
               @media only screen and (max-width: 500px) {
                font-size: 6rem;
               }
}

.form {
margin-top: -5rem;
display: block;
margin-left: auto;
margin-right: auto;
            /* TELEFONO */
            @media only screen and (max-width: 500px) {
             display: block;
             margin-left: auto;
             margin-right: auto;
            }
}

.form-label {
    font-family: $font-secundaria;
    font-size: 1.5rem;
    color: $blanco;
    margin-top: 5rem;
}

/* --- DATOS-F --- */

.nombre-contenedor {
    grid-area: nom;
}

#nombre {
    border-radius: 0.5rem;
    border: none;
    height: 2rem;
    background-color: rgba(252, 252, 252, 0.5);
}

.email-contenedor {
    grid-area: ema;
}

#email {
    border-radius: 0.5rem;
    border: none;
    height: 2rem;
    background-color: rgba(252, 252, 252, 0.5);
}

/* --- MENSAJE-F --- */

.mensaje-contenedor {
    grid-area: men;
}

#mensaje {  
    border-radius: 0.5rem;
    border: none;  
    height: 11rem;
    width: 20rem;
    background-color: rgba(252, 252, 252, 0.5);
}

.enviar {
    font-family: $font-secundaria;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: $blanco;
    border: none;  
    background-color: rgba(252, 252, 252, 0.1 );
}