@font-face {
    font-family: 'La Beauties';
    src: url('./fonts/La Beauties.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Saudagar';
    src: url('./fonts/Saudagar.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Florania Trial';
    src: url('./fonts/Florania Trial.otf');
    font-style: normal;
    font-weight: normal;
}

$font-titular: 'La Beauties';
$font-secundaria: 'Saudagar';
$font-terciaria: "Florania Trial";

$verde:  #2bbc0c;
$blanco: #fcfcfc;
$naranja: rgb(255, 175, 44);
$naranja-suave: rgba(255, 175, 44, 0.6);

body, html {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
        background-image: url("../imgs/fondo-proyectos.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
                /* TELEFONO */
               @media only screen and (max-width: 500px) {
                background-image: url("../imgs/fondo-proyectos-telefono.png");
               }  
}

.contenedor-proyectos {
    height: 100%;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-areas: 
        "pr-ti pr-ti pr-ti"
        "video video video"
        "modelo modelo modelo"
        "p2 . p5"
        "p4 . p3"
        "otros otros otros"
        "imgs-otros imgs-otros imgs-otros"
        "ind . con";
                    /* TELEFONO */
                    @media only screen and (max-width: 500px) {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr,;
                        grid-template-areas: 
                        "pr-ti"
                        "video"
                        "modelo"
                        "p2"
                        "p5"
                        "p4"
                        "p3"
                        "otros"
                        "imgs-otros"
                        "ind"
                        "con";
                    }
}